
node_modules/
.yarn/
.pnp.*


dist/
.vite/


storybook-static/
.cache/


*.tsbuildinfo


.tailwind/


.DS_Store
Thumbs.db
*.log
*.swp
*.swo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


package-lock.json


.env
.env.local
.env.development
.env.production
.env.test
